.brand {
    padding: .5rem;
    background: #000000;
    text-align: center;
    align-items: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: white;
    font-size: 25px;
}