.cards {
    background: #111622;
    text-align: center;
}
  
.headings h1 {
    font-weight: 900 !important;
}

.team-image {
  position: relative;
  width: 100%;
  background-size: cover;
  overflow: hidden;
}

.team-label {
  position: absolute;
  bottom: 0;
  left: 30px;
  padding: .3rem .5rem;
  background-color: #7E00FF;
}