@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}*/

img.fluid {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.hero {
    background: url('content/images/hero-image.png') center center no-repeat;
    background-size: cover;
    width: 100%;
    /* align-items: left; */
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    /* margin: auto; */
    /* max-width: 1500px; */
    align-items: center;
    overflow: hidden;
    background-color: black;
    color: white;
}

.hero-container {
    height: 800px;
}

.hero-video {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

.hero-video video {
    top: 0;
    height: 1000px;
    position: absolute;
    left: 50%;
    margin-left: -900px;
    z-index: 0;
}

.hero-container > h1 {
    color: white;
    font-size: 68px;
    margin-top: -80px;
    text-align: left;
    width: 80%;
}

.hero-container > p {
    margin-top: 8px;
    color: white;
    font-size: 16px;
    width: 55%;
    line-height: 20px;
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
}

/***** TOKENOMICS *****/

.tokenomics-container {
    /* display: inline; */
    
}

.token-table {
    padding: 2px 100px 0px 10px; /*top right bottom left*/
}

h5 {
    color: white;
    font-size: 19px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

h6 {
    color: #6B6B6B;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}


/**********************/

.hero-text {
    color: white;
}

.hero-text > h1 {
    text-align: left;
    font-size: 68px;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    line-height: 76px;
}

.hero-text > h4 {
    color: #B9B9B9;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

.hero-text > p {
    font-family: 'Montserrat', sans-serif;
    line-height: 20px;
    font-size: 16px;
    width: 60%;
    z-index: 900;
}

.hero-button {
    margin-top: 32px;
}

.pancake-img {
    transform: scale(.4, .3);
}

.hero-button .btns {
    margin: 6px;
}

.fa-play-circle {
    margin-left: 4px;
}

.pulse {
    animation: pulse-info 2s infinite;
}

@keyframes pulse-info {
    0% {
        box-shadow:0 0 0 0 #7f25c9;
   }
    100% {
        box-shadow:0 0 0 8px #28a74500;
   }
}